html, body, #root {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  height: 100%;
  font-size: 14px;
  /*align-items: center;*/
}

#root {
  display: flex;
  background-color: rgb(48, 48, 48);
  color: rgba(255, 255, 255, 0.75);
}

a {
  color: white !important;
}
